<!DOCTYPE html>

<html>
<body>
    <div>
        <p>
            Hello @Model.FirstName,

        </p>
        <p>
            Welcome to DPWorks!
        </p>
        <p>
            To complete your registration on the DPWorks! site, please follow this link: <a href="http://www.dpworks.org/Home/RegisterNewUser?token=@Model.Token">Register at DPWorks.org</a>
        </p>
        <p>
            Thank you,
            <br />
            The DPWorks Team            
        </p>
    </div>
</body>
</html>
