@{
    ViewBag.Title = "Home Page";
}

<p class="center-text">Welcome to the dpworks.org, your public works management site.</p>
<ol class="round">
    <li>
        <h5 class="center-text"><a href="~/Account/Login">Registered Users: Click here to login.</a></h5>
    </li>

    <li>
        <h5 class="center-text">Interested in trying the site?  Login as a guest. -> TBD</h5>
    </li>

    <li>
        <h5 class="center-text">What we do</h5>
        <p>Coming soon...</p>
    </li>
</ol>
