@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Styles/Login.css" type="text/css" />

<script>
    $(function () {
        $('#RememberMe').hide();
        $('#selectSite').on('click', function () { selectSite(); });
    });

    function rememberMe() {
        $('.checkbox').toggleClass('show');
        $('#RememberMe').prop("checked", !$('#RememberMe').prop("checked"));
    }

    function selectSite() {
        var siteId = $('#siteList').val();
        $.post(
            '/Home/SelectSite',
            { SiteId: siteId },
            function (site) {
                $('#siteName').text(site.Name);
                // Redirect, because the UI of the home page (like the sidebar) may change.
                window.location.replace("/Home/Index");
            });
    }

</script>

@if (!WebSecurity.IsAuthenticated)
{
    @Html.ValidationSummary(true)
    @Html.Partial("_BootstrapLogin")
    @Html.Partial("_ForgotPasswordFlyout")
}
else
{
    <p>Welcome [TODO: User]</p>
    
    if (User.IsInRole("Site-Wide Administrator"))
    {
        <p>Select Site:</p>
        @Html.DropDownList("siteList", new SelectList(ViewBag.Sites, "Id", "Name"));
        <button id="selectSite">Select</button>
    }
    
    <p>TODO: If user is admin or other, show site name.</p>
}
